{{ define "title" -}}
  {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <center><h1 >{{ .Title }}</h1></center>
  </header>
  <div>
    <center>
    * <span><a href="https://github.com/darkowlzz">Github</a></span> * <span><a href="https://twitter.com/darkowlzz">Twitter</a></span> *
    </center>
    <br><br>
  </div>
  {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
    {{ partial "page-summary.html" . }}
  {{ end }}
{{ end }}
{{ define "footer" }}
  <center>
    <!--
    {{ partial "pagination.html" . }}
    -->
    {{ partial "powered-by.html" . }}
  </center>
{{ end }}
